body {
  background-color: midnightblue;
}
h1 {
  color: mintcream;
  font-family: courier;
  text-align: center;
}
p {
  color: mintcream;
  font-family: courier;
  font-size: 120%;
  text-align: center;
}
.sectionOne {
  text-align: center;
}
.SectionOne .button {
  background-color: royalblue;
}
.SectionOne .button:hover {
  background-color: mediumslateblue;
}
.SectionTwo .button {
  background-color: rebeccapurple;
}
.SectionTwo .button:hover {
  background-color: mediumorchid;
}
a:link, a:visited {
  background-color: royalblue;
  color: mintcream;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover, a:active {
  background-color: mediumslateblue;
}
.button {
  background-color: royalblue;
  font-family: courier;
  border: none;
  color: mintcream;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.2s;
  border-radius: 4px;
}
.button:hover{
  background-color: mediumslateblue;
}
hr {
  color: mintcream;
  background-color: mintcream;
  border-width: 1px;
  height: 3px;
  margin-top: 80px;
}