body {
  background-color: midnightblue;
}
h1 {
  color: mintcream;
  font-family: courier;
}
p {
  color: mintcream;
  font-family: courier;
  font-size: 120%;
}
a:link, a:visited {
  background-color: royalblue;
  color: mintcream;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover, a:active {
  background-color: mediumslateblue;
}
