body {
  background-color: midnightblue;
}
h1 {
  color: mintcream;
  font-family: courier;
}
p {
  color: mintcream;
  font-family: courier;
  font-size: 120%;
}
a:link, a:visited {
  background-color: royalblue;
  color: mintcream;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover, a:active {
  background-color: mediumslateblue;
}
.button {
  background-color: royalblue;
  border: none;
  color: mintcream;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.2s;
  border-radius: 4px;
}
.button:hover{
  background-color: mediumslateblue;
}